/* Colors */

$primary-color:#eeeeee;
$secondary-color:#000000;

/* Fonts */
$font-family: 'Arial', sans-serif;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

/* Font weights */
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

/* Mixin för att skapa font-stilar */
@mixin font-style($size, $weight: $regular-weight, $family: $font-family) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
  }